@import "../mixins/all";

$listings__desktop-gutter: 24px;
$listings__tablet-gutter: 16px;

.listings__section {
  color: $typography__main-color;

  width: 100%;
  @include prefix-val(display, flex);
  @include prefix-prop(align-items, center);

  @include dimensions__section--paddings;

  background-color: #FFFFFF;
}

.listings__content > h1 h2 h3 p span {
  font-family: 'Champagne & Limosine' !important;
  color: black !important;
}

.listing-headings {
  text-align: -webkit-left;
  font-family: 'Champagne & Limosine' !important;
  color: black !important;
}
.listings__content {
  margin: 0 auto;
  text-align: center;

  // mobile
  width: 100%;
}

@media (max-width: 767px) {
  .ipad_listings {
    display: none !important;
  }

  .desktop_listings {
    display: none !important;
  }

  .mobile_listings {
    display: unset !important;
  }

  .listings__section {
    width: 84%;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  .listings__listing {
    width: 50% !important;
    max-width: 450px !important;
  }

  .ipad_listings {
    display: unset !important;
  }

  .desktop_listings {
    display: none !important;
  }

  .mobile_listings {
    display: none !important;
  }

  .listings__section {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ipad_listings {
    display: unset !important;
  }

  .desktop_listings {
    display: none !important;
  }

  .mobile_listings {
    display: none !important;
  }

  .listings__section {
    width: 90%;
  }

  .listings__listing {
    width: 50% !important;
    max-width: 335px !important;
  }
}

@media (min-width: 1025px) {
  .ipad_listings {
    display: none !important;
  }

  .desktop_listings {
    display: unset !important;
  }

  .mobile_listings {
    display: none !important;
  }

  .listings__section {
    width: 70%;
  }

  .listings__listing {
    max-width: 320px !important;
  }
}

.listings__title {
  @include typography__section-title;
  @include dimensions__section-title--limited-width;
}

.listings__paragraph--markdown {
  & > p {
    @include typography__section-paragraph;
    @include dimensions__section-paragraph--limited-width;
  }
}

.listings_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.listing_image {
  margin-bottom: 10px;
}

.listing_verified {
  color: #c4a03e;
  display: inline-block;
  margin: 0;
  padding: 3px 8px 4px;
  float: left;
}

.listing_text {
  margin-left: 20px;
}

.listing_info_row {
  display: flex;
}

.listing_text > span {
  font-family: 'Champagne & Limosine' !important;
  color: #999;
  font-size: 20px;
}

.listings__listings {

  // mobile
  padding: 0px $dimension-mobile-margin;
  margin-bottom: 36px;

  @media #{$mobile-landscape}, #{$tablet} {
    @include prefix-prop(flex-direction, row);
    margin: 0;
    padding: 0px (48px - $listings__tablet-gutter / 2) 48px (48px - $listings__tablet-gutter / 2);
  }

  @media #{$desktop} {
    @include prefix-prop(flex-direction, row);
    margin: 0;
    padding: 0px (60px - $listings__desktop-gutter / 2) 60px (60px - $listings__desktop-gutter / 2);
  }
}

.listing_image:hover {
  transform: scale(1.011);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}

.listings__listing {
  width: 100%;
  max-width: 300px;

  background-color: #FFF;

  @include prefix-val(display, flex);
  @include prefix-prop(justify-content, space-between);
  @include prefix-prop(flex-direction, column);

  border-radius: $dimension-card-border-radius;
  overflow: hidden;

  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.10);

  // mobile
  margin: 0px auto 24px auto;

  @media #{$mobile-landscape}, #{$tablet} {
    margin: $listings__tablet-gutter / 2;
    margin-bottom: 24px;
    width: (100% / 3);
  }

  @media #{$desktop} {
    margin: $listings__desktop-gutter / 2;
    margin-bottom: 24px;
    width: (100% / 3);
  }
}

.listings__listing-image-container {
  // width + padding-bottom makes a responsive square
  width: 100%;
  padding-bottom: 100%;
}

.listings__listing-image {
  @extend .listings__listing-image-container;

  background-size: cover;
  background-position: center;
}

.listings__listing-image--empty {
  @extend .listings__listing-image-container;
  position: relative;

  // background color added in the template
}

.listings__no-listing-image-svg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include prefix-val(display, flex);
  @include prefix-prop(align-items, center);
  @include prefix-prop(justify-content, center);
  @include prefix-prop(flex-direction, column);
}

.listings__no-listing-image-svg {
  stroke: $typography__main-color;
}

.listings__no-listing-image-svg--eyes {
  fill: $typography__main-color;
}

.listings__no-listing-image-text {
  font-size: 14px;
  margin-top: 8px;
  @include typography__semibold;
}

.listings__button {
  color: inherit;
  @include landing-page__button;
}

.listings__button--ghost {
  @include landing-page__button;
}

.listings__button--inverted {
  @include landing-page__button;
  background-color: #FFF;
}

.listings__listing-title {
  text-align: left;
  margin-left: 20px;
  color: #000 !important;
  font-family: 'Champagne & Limosine';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.stars {
  float: left;
  margin: 10px 0px 10px 20px;
}

.stars > svg {
  zoom: 0.6;
  fill: #4a4a4a;
}

.listings__listing-info {
  margin: 18px 24px;
  @include prefix-val(display, flex);
  @include prefix-prop(align-items, flex-end);
  @include prefix-prop(flex-direction, row);
  @include prefix-prop(justify-content, space-between);
}

.listings__price-container {
  text-align: left;
  margin-right: 12px;
}

.listings__price-text {
  @include typography__medium;

  @media #{$desktop} {
    font-size: 20px;
    letter-spacing: 0px;
  }
}

.listings__price-amount {
  @extend .listings__price-text;
}

.listings__price-shape-name {
  @extend .listings__price-text;
}

.listings__price-unit {
  @include typography__medium;

  @media #{$desktop} {
    font-size: 14px;
    letter-spacing: 0px;
  }
}

.listings__author-link {
  max-width: 50%;
}

.listings__author-container {
  @include prefix-val(display, flex);
  @include prefix-prop(align-items, center);
  @include prefix-prop(flex-direction, row);
}

.listings__author-avatar-container {
  // The avatar needs to be round, not oval
  @include prefix-prop(flex-shrink, 0);

  border-radius: 100%;
  width: 24px;
  height: 24px;

  // Rounded borders for child elements
  overflow: hidden;

  // Align the SVG
  @include prefix-val(display, flex);
  @include prefix-prop(align-items, center);
  @include prefix-prop(justify-content, center);

  background-color: #D8D8D8;
}

.listings__author-avatar {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.listings__author-avatar-empty {
  background-color: red;
}

.listings__author-name {
  @include typography__medium;

  margin-left: 8px;

  font-size: 12px;
  letter-spacing: 0px;
  line-height: 25px;

  // override default link color
  // hover color is set in the template
  color: #7A7D80;

  // ellipsis
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listings__section--background, .listings__section--background-image--light, .listings__section--background-image--dark {
  .listings__paragraph--markdown {
    & > p {
      color: #ffffff;
    }
  }
  .listings__title {
      color: #ffffff;
  }
}
 
.listings__section--background {
  @extend .listings__section;

  color: #FFFFFF;
  @include viewport-unit(min-height, 80vh);
}

.listings__section--background-image--light {
  @extend .listings__section--background;
  box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.3); /* is there any cleaner way? */
}

.listings__section--background-image--dark {
  @extend .listings__section--background;
  box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.5); /* is there any cleaner way? */
}

.listings__section--background-color {
  @extend .listings__section;
  color: #FFFFFF;
}

.listings__section--blank {
  @extend .listings__section;
  color: $typography__main-color;
}

.listings__section--zebra {
  @extend .listings__section--blank;
  //background-color: #F6F6F6;
}

.listings__section--background-color, .listings__section--background-image--light, .listings__section--background-image--dark {
  .listings__button--ghost {
      color: #ffffff;
      border-color: #ffffff;
  }
}

.number_circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 1px;

  background: #000;
  border: 2px solid #000;
  color: #fff;
  text-align: center;
  float: left;

  font: 12px Arial, sans-serif;
}

.ol_how_works {
  max-width: 400px;
  width: 100%;
  padding-left: 0;
  margin-bottom: 24px;
  list-style: none;
}

.ol_how_works > li {
  font-size: 20px;
  line-height: 24px;
  font-family: sofiapro,Helvetica,Arial,sans-serif;
  letter-spacing: -.1px;
  margin-bottom: 30px;
}

.ol_how_works > li > span {
  line-height: 16px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 20px;
}

.ol_how_works > li > span.title_li {
  margin-bottom: 5px;
}

.ol_how_works > li > span:last-child {
  font-size: 14px;
  font-weight: 400;
  margin-left: 40px;
  color: #4a4a4a;
}

.how_works_section {
  background-color: #f8f8f8;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 24px;
  margin-bottom: 60px;
}

.how_works_image_div {
  display: block;
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  zoom: 0.5;
}

.how_works_get_started {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 165px;
  min-height: 44px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 63px;
  margin-left: 30px;
  background-color: #000;
  color: #fff;
  line-height: 24px;
  letter-spacing: -.3px;
  padding: 13px 20px;
}

.how_works_text {
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .how_works_image_div {
    display: none;
  }

  .company_logos {
    flex-direction: column;
  }

  .company_logos > img {
    zoom: 0.6;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .company_logos > img {
    zoom: 0.4 !important;
  }
}

.company_logos {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.company_logos > img {
  zoom: 0.5;
  margin-right: 10px;
  flex-grow: 1;
}
.verified_div {
  display: flex;
  flex-direction: column;
  width: 90px;
  float: left;
}
.listing_info_row {
  float: left;
  margin-top: 5px;
  margin-left: -10px;
  width: calc(100% - 100px);
}
.listing_text {
  margin-left: 10px !important;
  margin-top: 3px;
}