<h1 style="font-size:38px;font-weight: bold;" class="landing_margins">How Studiotime Works</h1>
<section class="landing_margins how_works_section">
  <div class="how_works_text">
    <ol class="ol_how_works">
      <li>
        <div class="number_circle">1</div>
        <span class="title_li">Discover Studios</span>
        <span>Discover studios nearby or in 35+ countries. From the most unique home studios to top-line studios exclusive to Studiotime, we have the right studio for every budget.</span>
      </li>
      <li>
        <div class="number_circle">2</div>
        <span class="title_li">Request Studiotime</span>
        <span>Have questions about a studio, equipment, or need an engineer for your session? Use our site messaging to communicate directly with studios.</span>
      </li>
      <li>
        <div class="number_circle">3</div>
        <span class="title_li">Book & Pay</span>
        <span>Schedule the time and date for your session using our calendar scheduling in minutes. Submit your booking request, payment, and receive confirmation in a few clicks.</span>
      </li>
    </ol>
    <a class="how_works_get_started" href="/s"> GET STARTED</a>
  </div>
  <div class="how_works_image_div">
    <img src="/landing_page/how_studiotime_works.png" />
  </div>
</section>
